# Image related things
data/
**/*.jpg
**/*.png

# Pytorch related things
**/*.pt

# Python related things
**/__pycache__
**/*.pyc


.vscode
notebooks/garbage.ipynb
resnet18
runs/*
Da_model