:root {
  --primary-color: #3c3c37;
  --primary-accent: #df5821;
  --tertiary-color: #f8f6e8;
  --light-color: #acacac;
  --light-accent: #fa8c07;
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", "Helvetica", "sans-serif";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header {
  background-color: var(--primary-color);
  width: 100%;
  height: 70px;
  color: var(--primary-accent);
  display: flex;
}

header .container {
  background-color: var(--primary-color);
  padding-left: 0;
  padding-bottom: 0;
}

input[type="text"] {
  border: 1px solid var(--light-color);
  border-radius: 10px;
  padding-left: 5px;
}

select {
  border-radius: 5px;
  background-color: var(--primary-accent);
  color: #fff;
}

input:focus,
select:focus {
  box-shadow: 0px 0px 5px 1px var(--light-accent);
  outline: none;
}

input[type="checkbox"] {
  filter: grayscale();
}

.container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  justify-self: center;
  display: flex;
  align-items: center;
  background-color: var(--tertiary-color);
  padding-bottom: inherit;
}

header ul {
  display: flex;
  margin-left: 60px;
}

header li {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.container h2 {
  padding: 10px 0px;
}

.container h3 {
  text-decoration: underline;
  padding: 10px 0px;
}

.section {
  display: flex;
  flex-direction: row;
}

.section h4 {
  flex: 0 0 130px;
  margin: 10px 10px 0 0;
  font-weight: 500;
}

.section input {
  margin: 10px 10px 0 0;
}

.section select {
  margin: 10px 10px 0 0;
  max-height: 20px;
}

.parameters {
  display: flex;
  flex-direction: column;
}

.parameter {
  display: flex;
}

.parameter h5 {
  color: #3c3c37;
  flex: 0 0 100px;
  margin: 10px 10px 0 0;
  font-weight: 400;
}

.transforms {
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: var(--primary-accent);
  color: #fff;
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 20px;
  border: none;
}

#resultMessage {
  font-size: 1.5em;
  padding: 10px 30px;
  margin: 20px 0;
}
